version: '3.8'

services:
  mqtt-forwarder:
    image: ghcr.io/sunsheng/mqtt-forwarder-deploy/mqtt-forwarder:latest
    container_name: mqtt-forwarder
    restart: unless-stopped
    network_mode: host
    environment:
      - SOURCE_BROKER=192.168.4.112  # 应用端MQTT Broker
      - TARGET_BROKER=192.168.6.10   # 外部系统MQTT Broker
      - MQTT_PORT=1883
      - TOPIC_PROPERTY_EVENT=/ge/web/#
      - TOPIC_COMMAND=/gc/web/#
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
